<!DOCTYPE html>
{% load staticfiles pipeline i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}What'd You Do Yesterday?{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hour-by-hour breakdowns of peoples' days">
    <meta name="author" content="stories, people, yesterday">

    {% stylesheet 'master' %}
    {% block extra_css %}{% endblock extra_css %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-58886441-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <div class="container">
      {% block header %}

        <h1><a href="{% url 'core:home' %}" class="no-style">What'd You Do Yesterday?</a></h1>
        <h2>Hour-by-hour breakdowns of peoples' days</h2>

      {% endblock header %}

      {% block messages %}
        {% include 'includes/messages.html' %}
      {% endblock messages %}

      {% block content %}

        <form class="story-form" action="{% url 'core:home' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_story">Write your story here</label>
              <p>Stories like <a href="http://whatdyoudoyesterday.com/story/cc47706c-23e8-4d0c-9ab3-9294868bbaa6/">this</a> are appreciated. Spam will be deleted.</p>
<textarea cols="40" id="id_story" name="story" rows="10" class="form-control">
</textarea>
            </div>
            <input type="submit" class="btn btn-default btn-lg btn-block" value="Submit" />
        </form>

        <div class="stories">
          {% if stories|length > 1 %}
            <h1>Recent Stories</h1>
          {% else %}
            <h1>Story</h1>
          {% endif %}

          {% for story in stories %}
              <div class="story">
                {{ story.story|linebreaks|urlize }}
              </div>

              <div class="story-time">
                <a href="{% url 'core:story' story.uuid %}" class="no-style">Posted {{ story.created }}</a>
              </div>

              <hr/>
          {% endfor %}
        </div>

        {% if stories|length > 1 %}
          <div class="pagination">
            <span class="step-links">
              {% if stories.has_previous %}
                <a href="{% url 'core:home' %}">< First</a>
                <a href="?page={{ stories.previous_page_number }}">&laquo; Previous</a>
              {% endif %}

              <span class="current">
                Page {{ stories.number }} of {{ stories.paginator.num_pages }}
              </span>

              {% if stories.has_next %}
                <a href="?page={{ stories.next_page_number }}">Next ></a>
                <a href="?page={{ stories.paginator.num_pages }}">Last &raquo;</a>
              {% endif %}
            </span>
          </div>
        {% endif %}

        <footer>
          Made with <3 by <a href="https://twitter.com/imkevinxu" target="_blank">Kevin Xu</a>, Founder of <a href="https://imhomeapp.com/" target="_blank">imHome</a>
        </footer>


      {% endblock content %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% javascript 'master' %}
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
