[run]
source = yesterday
omit =
    *config*
    *migrations*
    *__init__.py
    *manage.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.
    if settings.DEBUG
    if self.debug
    def __repr__
    def __str__
    def __unicode__
show_missing = True

[html]
directory = tests/django
title = Coverage Report
