{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert alert-dismissible alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'debug' %}info{% else %}{{ message.tags }}{% endif %}" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
