{% extends "admin/index.html" %}

{% load url from future %}

{% block sidebar %}

  {{ block.super }}

  <div style="clear: both"></div>
  <h1 style="margin-top: 15px">Redis Apps</h1>

  <div id="django-rq" style="float: left">
    <div class="module">
      <table style="width: 498px">
        <caption>Django RQ</caption>
        <tbody>
          <tr>
            <th>
              <a href="{% url 'rq_home' %}">
                Queues
              </a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="rq-scheduler" style="float: left">
    <div class="module">
      <table style="width: 498px">
        <caption>RQ Scheduler</caption>
        <tbody>
          <tr>
            <th>
              <a href="{% url 'rq_scheduler:jobs' %}">
                Scheduled Jobs
              </a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  {% endblock %}
